<!DOCTYPE html>
<html lang = "en" xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Student</title>
</head>
<body>
	<h1>Add Student</h1>
	<form action="@{/add-student}" method = "post" th:object = "${studentDTO}">
	<label>Name</label>
	<input type="text" placeholder = "Enter your name" th:field="*{name}"><br><br>
	
	<label>Age</label>
	<input type="number" placeholder="Enter your age" th:field="*{age}" ><br><br>
	
	
	
	<label>Email</label>
	<input type="Email" placeholder = "Enter your email" th:field="*{email}"><br><br>
	
	<label>Password</label>
	<input type="number" placeholder = "Enter your password" th:field="*{password}"> <br><br>
	
	<button type="submit">Submit</button>
	</form>
</body>
</html>