<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Students</title>
</head>
<body>
    <h1>List of Students</h1>
    <a th:href="@{/add-student}">Add Student</a>
    <div th:if="${success}">
        <p th:text="${success}"></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Age</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td>
                    <img alt="image" width="100px" height="100px" th:src="@{'/images/' + ${student.imagepath}}"/>
                </td>
                <td th:text="${student.age}"></td>
                <td th:text="${student.email}"></td>
                <td>
                    <a th:href="@{/std-edit(id=${student.id})}">Edit</a> 
                    <a th:href="@{/std-delete(id=${student.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
